.wrapper {
    display: flex;
    flex-direction: column; 
}
h1 {
    font-weight: bold;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 20px; 
}
h2 {
    font-weight: bold;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 15px; 
}
body {
    background-color: #282c34;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 20px;
}
canvas {
    /* background-color: #c58cba;  */
    width: 360px;
    display: block;
}
.multiselect-container {
    /* margin-top: 10px; */
    display: flex;
    flex-wrap: wrap;
}
.multiselect-item {
    margin-right: 10px;
}
.select-label {
    margin-bottom: 5px; 
    display: block; 
}
.button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #4570de;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.checkbox-container {
    margin-top: 10px;
}
.checkbox-container label {
    font-size: 18px;
}
.textbox-container {
    margin-top: 7px;
}
.textbox-container input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.hidden {
    display: none;
}